/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* UTILITY */

button {
  border-radius: 18px;
  border: none;
  margin: 0 20px;
  padding: 5px 10px;
}

button.big {
  padding: 10px 30px;
}

button.white {
  background-color: white;
}

button.dark {
  background-color: #23272A;
  color: white;
}

.fa-solid {
  padding-right: 5px;
}
  
  /* HEADER */

header {
  background-color: #3161E0;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.header-top {
  width: 80%;
  margin: 0 auto;
}

.header-top div {
  float: left;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

nav ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.head-logo {
  float : left;
  width:200px;
  padding-top: 10px;
}

.head-button {
  float : left;
  width : 100px;
}

.menu {
  float:left;
  width:calc(100% - 200px - 100px);
  border:2px solid red;
  text-align: center;
}

/* /HEADER */



/* JUMBOTRON */

.jumbotron {
  background-image: url(../assets/img/jumbo.png);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  color: white;
}

.jumbotron div {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.jumbo-text h2{
  padding-bottom: 20px;
}

/* /JUMBOTRON */



/* MAIN */

main section {
  width: 100%;
}

main section:nth-child(odd) {
  background-color: white;
}


main section:nth-child(even) {
  background-color: #F6F6F6;
}

section img{
  width: 100%;
  background-size: cover;
  background-position: center;
}

h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

[class^="section"] {
  float: left;
  width: calc(50% - 10px);
  padding-top: 20px;
}

div .section-text {
  padding: 50px 90px;
}


/* LAST SECTION */

.special-section{
  width: 100%;
  text-align: center;
}

.straight-text {
  padding: 60px 0;
}

.text-button {
  margin-bottom: 50px;
}

.text-button span{
  background-image: url(../assets/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  padding: 10px 0;
  width: 50%;
  margin: 10px auto;
}

.bottone-opaco {
  background-color: #8EA1E1;
  color: white;
}

/* FOOTER */

footer {
  height: 300px;   
  width: 100%;
  background-color: #23272A;
  color: white;
}

.foot-list {
  width: 80%;
  margin: 0 auto;
}

.lang-social span {
  display: block;
  margin: 10px;
}
.foot-list .lang-social .lingua img{
  width: 2%;
}

.foot-list .list ul li{
  text-transform: capitalize;
  padding: 5px 0;
  list-style: none;
}
.foot-list .list ul li a{
  color: white;
  text-decoration: none;
}

.list ul a:first-child{
  text-decoration: #7289DA;
}

.foot-list div{
  float: left;
}