/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

/* UTILITY */

button {
  border-radius: 18px;
  border: none;
  margin: 0 20px;
  padding: 5px 10px;
  cursor: pointer;
}

button.big {
  padding: 10px 30px;
}

button.white {
  background-color: white;
}

button.dark {
  background-color: #23272A;
  color: white;
}

.bottone-opaco {
  background-color: #8EA1E1;
  color: white;
}

.fa-solid {
  padding-right: 5px;
}
  
  /* HEADER */

header {
  background-color: #3161E0;
  width: 100%;
  line-height: 50px;
}

.header-top {
  width: 80%;
  margin: 0 auto;
}

.header-top div {
  float: left;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

nav ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.head-logo {
  float : left;
  width:200px;
  padding-top: 10px;
}

.head-button {
  float : left;
  width : 100px;
}

.menu {
  float:left;
  width:calc(100% - 200px - 100px);
  border:2px solid red;
  text-align: center;
}

/* /HEADER */



/* JUMBOTRON */

.jumbotron {
  background-image: url(../assets/img/jumbo.png);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  color: white;
  position: relative;
}

.jumbotron div {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.jumbo-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbo-text {
  padding-bottom: 20px;
}

/* /JUMBOTRON */



/* MAIN */

main section {
  width: 100%;
}

main section:nth-child(odd) {
  background-color: white;
}


main section:nth-child(even) {
  background-color: #F6F6F6;
}

section img{
  width: 100%;
  background-size: cover;
  background-position: center;
}

h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

[class^="section"] {
  float: left;
  width: calc(50% - 10px);
  padding-top: 20px;
}

div .section-text {
  padding: 50px 90px;
}


/* LAST SECTION */

main .special-section{
  width: 100%;
  text-align: center;
}

.special-section .straight-text {
  padding: 60px 0;
}

.special-section .text-button {
  margin-bottom: 50px;
}

.text-button span{
  background-image: url(../assets/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  padding: 10px 0;
  width: 50%;
  margin: 10px auto;
}



/* FOOTER */

footer {
  width: 100%;
  background-color: #23272A;
  color: white;
}

footer .foot-list {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 2px solid #4A5882;
}

.lang-social .lingua, .lang-social .icone {
  display: block;
  margin: 10px;
}

.foot-list .lang-social .lingua img{
  width: 10%;
}

.lang-social .icone .fa-brands{
  padding: 10px 5px;
  cursor: pointer;
}

.foot-list .list ul li{
  text-transform: capitalize;
  padding: 5px 0;
  list-style: none;
}

.foot-list .list ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: .9rem;
}

.foot-list .list ul li a:hover{
  color: #3161E0;
}


.foot-list div{
  float: left;
  margin: 0 20px;
}

.foot-list .lang-social{
  width: 150px;
  margin-right: 100px;
}

.first-of-list span, h3 {
  color: #7289DA;
}

footer .foot-bottom {
  width: 80%;
  margin: 10px auto;

}

.foot-bottom img{
  width: 15%;
  float: left;
}

.foot-bottom button{
  float: right;
}
